 .tip {
   font-size: 14px;
   font-weight: 400;
   color: #999999;
   line-height: 20px;
 }

 .getMore {
   border-radius: 4px;
   border: 1px solid #e5e7eb;
   padding: 16px 60px;
   color: #666666;
   font-size: 20px;
   font-weight: 400;

   &:hover {
     border: 1px solid #2784ff;
     color: #2784ff;
   }
 }

 .none {
   font-size: 30px;
   font-family: PingFangSC-Regular, PingFang SC;
   font-weight: 400;
   color: #666666;
   line-height: 36px;
 }

 .userContainer {
   width: 450px;
   height: 120px;
   background: #FFFFFF;
   box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.0500);
   border-radius: 10px;
   padding: 20px;
   cursor: pointer;

   &:hover {
     box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.0500);
   }

   .userimg {
     width: 80px;
     height: 80px;
     border-radius: 50%;
     border: 1px solid rgba(0,0,0,0.10);
   }

   .userName {
     font-size: 16px;
     font-family: PingFangSC-Semibold, PingFang SC;
     font-weight: 600;
     color: #222222;
     line-height: 22px;
   }

   .userResource {
     font-size: 14px;
     font-weight: 400;
     color: #2784FF;
     line-height: 20px;
   }
 }