@import '../../../../../../config.less';

.styles {
  position: relative;
}

.button {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.content {
  //height: 300px;
  overflow: hidden;
}

.mask {
  height: 40px;
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, #FFFFFF 100%);
}

.closeButton {
  height: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
