.unauthorized-resource-wrapper {
  width: 100%;
  display: flex;
  padding: 20px 0 20px 20px;
  box-sizing: border-box;
  margin: 20px 0;
  background: #ffffff;
  border-radius: 10px;
  border: 1px dashed rgba(0, 0, 0, 0.15);

  .left-area {
    width: 300px;
    background: #fafbfc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    }

    .cover {
      width: 280px;
      height: 210px;
      background: #d8d8d8;
      border-radius: 4px;
      overflow: hidden;

      img {
        max-width: none;
        margin-left: 0;
        cursor: pointer;
      }
    }

    .name {
      font-size: 14px;
      font-weight: 600;
      color: #222222;
      line-height: 20px;
      margin-top: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .info {
      font-size: 12px;
      color: #999999;
      line-height: 18px;
      margin-top: 8px;
      display: flex;
      justify-content: space-between;
    }

    .tags-wrapper {
      width: 100%;
      height: 24px;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      margin-top: 12px;

      .tag {
        height: 24px;
        background: #e9f2ff;
        border-radius: 2px;
        border: 1px solid #aed0ff;
        font-size: 12px;
        color: #2784ff;
        padding: 0 5px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        & + .tag {
          margin-left: 5px;
        }
      }
    }

    .no-policy {
      line-height: 18px;
      color: #999;
      font-size: 12px;
      margin-top: 15px;
    }
  }

  .right-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.unauthorized {
      .freelog {
        font-size: 48px;
        color: #e9bb29;
      }

      .tip {
        font-size: 14px;
        color: #e9a923;
        line-height: 20px;
        margin-top: 20px;
      }

      .auth-btn {
        width: 156px;
        height: 50px;
        background: #2784ff;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
        margin-top: 40px;
        cursor: pointer;

        &:hover {
          background: #529dff;
        }

        &:active {
          background: #2376e5;
        }
      }
    }

    &.upcast {
      .freelog {
        font-size: 48px;
        color: #ee4040;
      }

      .tip {
        font-size: 14px;
        color: #ee4040;
        line-height: 20px;
        margin-top: 20px;
      }

      .desc {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.3);
        line-height: 18px;
        margin-top: 10px;
      }

      .auth-btn {
        font-size: 12px;
        color: #2784ff;
        line-height: 18px;
        margin-top: 40px;
        cursor: pointer;

        &:hover {
          color: #529dff;
        }

        &:active {
          color: #2376e5;
        }
      }
    }
  }
}

.authorized-resource-wrapper {
  position: relative;

  &:hover .toolbar {
    opacity: 1;
  }

  .toolbar {
    position: absolute;
    left: 0;
    top: -50px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.5s linear;
  }
}

// ------------------------------------------------------------------

// 工具栏授权状态
.toolbar-auth {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-left: 20px;

  .freelog {
    font-size: 14px;
  }

  .auth-text {
    margin-left: 5px;
    margin-right: 20px;
  }

  .fl-icon-suoding,
  .unauthorized-text {
    color: #e9a923;
  }

  .fl-icon-a-chenggongzhengqueduigou1,
  .authorize-text {
    color: #44c28c;
  }

  .fl-icon-shangpao,
  .upcast-text {
    color: #ee4040;
  }

  .authorize-btn {
    color: #2784ff;
    line-height: 18px;
    cursor: pointer;

    &:hover {
      color: #529dff;
    }

    &:active {
      color: #2376e5;
    }
  }
}

// 资源工具栏
.resource-toolbar {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  height: 45px;
  opacity: 0;
  transition: all 0.2s linear;

  .toolbar {
    width: 100%;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 12px;

    .type {
      flex-shrink: 0;
      color: #999999;
    }

    .name {
      font-weight: 600;
      color: #222222;
      margin-left: 5px;
      text-decoration: underline;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        color: #529dff;
      }

      &:active {
        color: #2376e5;
      }
    }
  }
}

// 图片授权状态
.image-auth {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;

  .freelog {
    font-size: 40px;

    &.fl-icon-suoding {
      cursor: pointer;
    }
  }

  .auth-text {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    line-height: 20px;
    margin-top: 20px;
  }
}

// 图片
.unauthorized-image,
.authorized-image {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  caret-color: transparent;
  transition: all 0.2s linear;
  cursor: default;

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);

    .resource-toolbar {
      top: -45px;
      opacity: 1;
    }
  }

  img {
    margin-left: none !important;
    transform: none !important;
  }

  .cover {
    position: relative;
    overflow: hidden;

    img {
      max-width: none;
    }
  }
}
