@import '../../config.less';

.Input {
  border-width: 1px;
  border-style: solid;
  width: 160px;

  &:hover {
    border-color: #CBCBCB;
  }

  &:focus {
    //border-color: @f-primary-color;
    border-color: @f-primary-color !important;
  }

  &.InputError {
    &, &:hover, &:active, &:focus {
      border-color: @f-error-color1;
    }
  }

  //:global(.ant-input:focus) {
  //
  //}

  //&.ant-input-affix-wrapper:focus, &.ant-input-affix-wrapper-focused {
  //  border-color: @f-primary-color !important;
  //}

}

.light {
  background-color: white;
  border-color: #E4E7EB;
}


.FInputWordCount {
  color: #C4C4C4;

  &.beyond {
    color: @f-error-color1;
  }

}

