@import '../../config.less';

.styles {

  .InputWrap {
    .InputRow {
      display: flex;
      align-items: center;

      .Input {
        width: 200px;
        display: inline-block;
      }

      .recommendation {
        font-size: 12px;
        font-weight: 400;
        color: #E9A923;
        line-height: 18px;

        &.disabled {
          opacity: .4;
          cursor: not-allowed;
        }
      }
    }


    .InputError {
      &, &:hover, &:active, &:focus {
        border-color: @f-error-color1 !important;
      }
    }

    label {
      color: red;
    }
  }

  :global(.ant-input) {
    &:focus {
      border-color: @f-primary-color;
    }
  }

  :global(.ant-input-focused) {
    border-color: @f-primary-color;
  }

  .labels {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -15px;

    .label {
      border-radius: 4px;
      border: 1px solid #DDDDDD;
      background-color: #fff;
      height: 38px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      margin-right: 15px;
      margin-bottom: 15px;

      & > span {
        padding: 0 5px 0 10px;
      }

      & > a {
        padding: 4px 10px;
        color: #BCBCBC;
      }
    }
  }
}





