@import '../../../../../config.less';

.LuckyPrize {
  display: flex;
  flex-direction: column;
  align-items: center;

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 820px;

    & > label {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: #FBF5EA;
      border-radius: 12px;
      padding: 3px 10px;

      & > span {
        font-size: 12px;
        font-weight: 600;
        color: #222222;
        line-height: 18px;
        display: inline-block;
      }
    }
  }
}
