@import '../../../../../../config.less';

.attributes {
  background-color: #F7F8F9;
  padding: 0 20px;

  .attributesHeader {
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 12px;
  }
}

.options {
  background-color: #F7F8F9;
  padding: 0 20px;

  .optionsHeader {
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 12px;
  }
}
