.wrap {
  width: 920px;
  margin: 0 auto;
}

.info {
  display: flex;
}

.infoLeft {
  width: 260px;
  flex-shrink: 0;
  //height: 100px;
}

.cover {
  width: 260px;
  height: 195px;
  display: block;
  border-radius: 10px;
}

.title {
  line-height: 24px;
}

.titleText {
  font-size: 20px;
  color: #222;
  word-wrap: break-word;
}

.babels {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -2px;
  margin-right: -5px;
  font-size: 12px;
  color: #575E6A;

  & > label {
    padding: 2px 5px;
    margin-bottom: 2px;
    margin-right: 5px;
    border-radius: 2px;
    background-color: #EBECF0;
  }
}

.favoriteBtn {
  line-height: 38px;
  padding: 0 20px;
  background-color: #FAFBFC;
  color: #666;
  font-size: 14px;
  display: inline-block;
  border-radius: 4px;
}

.cell {
  width: 45px;
  flex-shrink: 0;
}

.infoRight {
  width: 100%;
  flex-shrink: 1;
  //height: 100px;
}

.nodeSelector {
  border: 1px solid #E4E7EB;
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  border-radius: 4px;
}

.nodeSelectorLabel {
  font-size: 14px;
  color: #D1D1D1;
}

.sign {
  display: flex;
  height: 390px;
  align-items: stretch;
}

.signLeft {
  width: 250px;
}

.signLeftNav {
  font-size: 12px;
  color: #7A869A;
  padding: 5px 0;
}

.signResource {
  padding: 10px 15px;
  display: block;
  border-radius: 10px 0 0 10px;
}

.activatedSignResource {
  background-color: #FAFBFC;
}

.policeTags {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-bottom: -2px;

  & > label {
    padding: 2px 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    border: 1px solid #AED0FF;
    background-color: #E9F2FF;
    border-radius: 2px;
  }
}

.signRight {
  overflow-y: auto;
  width: 380px;
  background-color: #FAFBFC;
  border-radius: 0 10px 10px 0;
  padding: 20px 25px;

  & > div {
     margin-bottom: -20px;
  }
}

.singPolicy {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;

  & > pre {
    margin: 0;
    padding: 0;
  }
}

.PolicyName {
  display: flex;
  align-items: center;
}

.signBottom {
  display: flex;
  justify-content: center;
}

.signButton {
  height: 44px;
  width: 300px;
}
