@import '../../../../../config.less';

.body {
  background-color: white;
  min-height: 500px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  // padding: 30px 40px 20px;
}

.tableName {
  padding: 15px 10px !important;
}

.tableEdit {
  width: 100px;
}

.tableVersion {
  width: 125px;
}

.tableStatus {
  width: 65px;
}

.info {
  display: flex;

  & > img {
    width: 120px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 4px;
  }
}

.infos {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: stretch;
  justify-content: space-between;
}

.sub {
  display: flex;
  align-items: center;

  & > label {
    line-height: 18px;
    padding: 0 5px;
    flex-shrink: 0;
    color: #999;
    font-size: 12px;
    border: 1px solid #c4c4c4;
    border-radius: 9px;
  }

  & > div:last-child {
    flex-shrink: 1;
  }
}

.polices {
  display: flex;
  //margin-right: -5px;
  height: 24px;
  align-items: center;

  //& > label {
  //  color: #2784FF;
  //  line-height: 18px;
  //  padding: 0 6px;
  //  border: 1px solid #AED0FF;
  //  border-radius: 2px;
  //  background: #E9F2FF;
  //  margin-right: 5px;
  //  font-size: 12px;
  //}
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 250px !important;
}

.toolBar {
  a {
    color: @f-primary-color;
  }
}

.rowClassName {
  .hoverVisible {
    visibility: hidden;
  }

  &:hover {
    .hoverVisible {
      visibility: visible;
    }
  }
}

.loader {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #666;
}

.no-longer {
  font-size: 12px;
  color: #999999;
  line-height: 18px;
  padding: 0 5px;
}

.result-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade 0.2s ease;
  z-index: @f-zIndex-modal;

  .result-popup {
    width: 312px;
    height: 200px;
    background: #ffffff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scale 0.2s ease;

    .loader {
      display: flex;
      align-items: center;
      color: #2784ff;

      .loader-icon {
        font-size: 16px;
      }

      .loader-text {
        font-size: 16px;
        line-height: 22px;
        margin-left: 10px;
      }
    }

    .result {
      display: flex;
      flex-direction: column;
      align-items: center;

      .result-icon {
        font-size: 76px;

        &.up {
          color: #42c28c;
        }

        &.down {
          color: #e9a923;
          transform: rotate(180deg);
        }
      }

      .result-text {
        font-size: 18px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #222222;
        line-height: 24px;
        margin-top: 20px;
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.handled {
  display: flex;
  align-items: center;
  //justify-content: flex-end;
  gap: 30px;
}
