@import '../../../../../../config.less';

.signBottom {
  display: flex;
  justify-content: center;
  height: 44px;
  align-items: center;

  & > span {
    color: #666;

    .gotoExhibitLink {
      color: @f-primary-color;
    }
  }
}

.signButton {
  //height: 38px;
  width: 300px;
}
