.styles {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 30px;
  color: #666;
}

.button {
  height: 50px;
  padding-right: 50px;
  padding-left: 50px;
}
