@import '../../../../../config.less';

.styles {
  //padding: 25px 40px 30px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  //align-items: ;

  .header {

    .cover {
      display: flex;
      justify-content: center;

      & > img {
        width: 80px;
        height: 80px;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;

      //.url {
      //  a {
      //    text-decoration: underline;
      //    display: block;
      //    max-width: 176px;
      //    overflow: hidden;
      //    white-space: nowrap;
      //    text-overflow: ellipsis;
      //    font-size: 13px;
      //    line-height: 19px;
      //    font-weight: 600;
      //  }
      //}

      padding: 0 40px;
    }

    .navs {
      & > a {
        padding: 15px 40px;
        color: #222;
        font-size: 14px;
        cursor: pointer;
        display: block;

        &.activated {
          background: rgba(0, 0, 0, 0.02);
          color: #2784FF;
        }
      }
    }
  }

  .gotoTest {
    margin: 0 40px 40px;
    font-size: 12px;
    padding: 10px 20px;
    background: rgba(39,132,255,0.08);
    border-radius: 10px;

    & > span {
      color: #7A869A;
    }

    & > a {
      color: @f-primary-color;
    }
  }
}

