
.size {
  font-size: 13px;
  color: #222;
}

.FSelect {
  width: 200px;
}


.divContainer {
  .Header {
    height: 50px;
    background-color: #F7F8F9;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .objectName {
      max-width: 400px
    }
  }
}


.FAutoComplete {
  width: 200px;
}

.attributes {
  background-color: #F7F8F9;
  padding: 0 20px;

  .attributesHeader {
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 12px;
  }
}

.options {
  background-color: #F7F8F9;
  padding: 0 20px;

  .optionsHeader {
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 12px;
  }
}
