@import '../../../config.less';

.container1 {
  min-height: calc(100vh - 70px);
  background-color: #FAFBFC;
  display: flex;
  align-items: center;
  flex-direction: column;

  .nav {
    display: flex;
    align-items: center;
    width: 920px;

    .left {
      font-size: 24px;
      font-weight: 600;
      color: #999;
      line-height: 30px;
    }

    .other {
      font-size: 24px;
      font-weight: 600;
      color: #222;
      line-height: 30px;
    }
  }

  .block {
    width: 920px;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 920px;

    & > div {
      font-size: 12px;
      font-weight: 400;
      color: #C4C4C4;
      line-height: 18px;
    }
  }
}

.container2 {
  min-height: calc(100vh - 70px);
  background-color: #FAFBFC;
  display: flex;
  align-items: center;
  flex-direction: column;

  .nav {
    display: flex;
    align-items: center;
    width: 920px;

    .left {
      font-size: 24px;
      font-weight: 600;
      color: #999;
      line-height: 30px;
    }

    .other {
      font-size: 24px;
      font-weight: 600;
      color: #222;
      line-height: 30px;
    }
  }

  .cards {
    width: 920px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .localUpload {
      width: 455px;
      height: 340px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: white;
      border-radius: 6px;
    }

    .storageSpace {
      width: 455px;
      height: 340px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: white;
      border-radius: 6px;
    }
  }
}
