//@import '../../config.less';

.styles {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;

    .title {
      display: flex;
      align-items: center;

      & > i {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #EE4040;
      }
    }

    .input {
      width: 360px;
    }

    .errorTip {
      font-size: 14px;
      color: #EE4040;
      width: 360px;
    }

    .verificationMode {

      .verificationModeHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }


      .verificationModeInput {
        width: 360px;
      }
    }

    .identifyingCode {
      .identifyingCodeHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .identifyingCodeBody {
        width: 360px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .identifyingCodeInput {
          width: 240px;
        }
      }
    }
  }
}

.resetPasswordSuccess {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
