//@import '../../config.less';

.info {
  width: 100%;

  .row {
    display: flex;
    align-items: center;

    .left {
      width: 160px;
      height: 38px;
      display: flex;
      align-items: center;
    }

    .right {
      width: 700px;
      height: 38px;
      display: flex;
      align-items: center;
    }
  }
}
