//@import '../../config.less';

.info {
  width: 100%;

  .row {
    display: flex;
    align-items: center;

    .left {
      width: 160px;
      height: 38px;
      display: flex;
      align-items: center;
    }

    .right {
      width: 700px;
      height: 38px;
      display: flex;
      align-items: center;
    }
  }
}

.nodesList {
  .nodeItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #E5E5E5;;

    .nodeCheckBox {
      width: 30px;
    }

    .nodeName {
      width: 340px;
    }

    .nodeSize {
      width: 140px;
    }

    .nodeDateTime {
      width: 130px;
    }
  }
}
