@import '../../config.less';

.styles {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  overflow: hidden;

  & > span {
    display: flex;
  }
}

.uploadContainer {
  //display: inline-block;
  //width: fit-content;
  //height: fit-content;
  display: none;
}
