@import '../../../../../config.less';

.schedule {
  display: flex;
  align-items: center;
  gap: 20px;

  .activityTimeCard {
    width: 334px;
    height: 148px;
    display: flex;
    //background-color: #7B7B7E;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: 100%;
    background-image: url("../../../../../assets/activity/SpringFestival/activityTimeCard@2x.png");

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    .text {
      font-size: 18px;
      font-weight: 600;
      color: #222;
    }
  }
}
