@import '../../../../config.less';

.styles{
  position: static;

  .banner {
    width: 100%;
  }

  .AffixContent {
    width: 100%;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1060px;

      .link {
        width: 196px;
        height: 48px;
        background: #FFF;
        border-radius: 6px;
        border: 2px solid #E9A923;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        color: #E9A923;

        &.activated {
          background: #E9A923;
          color: #fff;
        }
      }
    }
  }

  .content {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../../../../assets/activity/ExperienceOfficer/background@2x.png");
    background-size: 100% auto;
    background-repeat: repeat-y;

    .h1 {
      font-size: 30px;
      font-weight: 600;
      color: #222;
      line-height: 36px;
    }

    .h2 {
      font-size: 16px;
      font-weight: 400;
      color: #666;
      line-height: 30px;
    }

    .h3 {
      font-size: 12px;
      font-weight: 400;
      color: #999;
      line-height: 18px;
    }

    .horizontalLine {
      width: 30px;
      height: 1px;
      opacity: 0.15;
      border: 1px solid #000000;
    }

    .longDashed {
      width: 820px;
      height: 1px;
      border: 1px dashed #EAEAEA;
    }

    .activityTime {
      width: 1060px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .activityTimeCard {
        width: 334px;
        height: 148px;
        background: #FFF;
        border-radius: 10px;
        border: 2px solid #F2F2F2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .dot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }

        .text{
          font-size: 18px;
          font-weight: 600;
          color: #222;
        }
      }
    }

    .award {
      width: 1060px;
      //height: 916px;
      background: #FFF;
      border-radius: 10px;
      border: 2px solid #F2F2F2;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .questionnaire {
      width: 1060px;
      //height: 1137px;
      background: #FFFFFF;
      border-radius: 10px;
      border: 2px solid #F2F2F2;
      display: flex;
      align-items: center;
      flex-direction: column;

      .button {
        padding: 0 50px;
        line-height: 50px;
        background: #653EC3;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        color: #FFF;
        display: inline-block;
      }
    }

    .point {
      width: 1060px;
      //height: 1203px;
      background: #FFFFFF;
      border-radius: 10px;
      border: 2px solid #F2F2F2;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .regulation {
      width: 1060px;
      height: 1531px;
      background: #FFFFFF;
      border-radius: 10px;
      border: 2px solid #F2F2F2;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

