@import '../../../../config.less';

.banner {
  width: 100%;
}

.AffixContent {
  width: 100%;
  background-color: white;
  height: 150px;
}

.content {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../../assets/activity/ExperienceOfficer/background@2x.png");
  background-size: 100% auto;
  //height: 4246px;
  background-repeat: repeat-y;

  .activityTime {
    width: 1060px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .activityTimeCard {
      width: 334px;
      height: 148px;
      background: #FFF;
      border-radius: 10px;
      border: 2px solid #F2F2F2;
    }
  }

  .award {
    width: 1060px;
    height: 916px;
    background: #FFF;
    border-radius: 10px;
    border: 2px solid #F2F2F2;
  }

  .questionnaire {
    width: 1060px;
    height: 1137px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #F2F2F2;
  }

  .point {
    width: 1060px;
    height: 1203px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #F2F2F2;
  }

  .regulation{
    width: 1060px;
    height: 1531px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #F2F2F2;
  }
}
