.message {
  & > div {
    padding: 0;
    background-color: transparent;
  }
}

.alert {
  width: 350px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.success {
  box-shadow: 0 3px 8px 2px rgba(66, 194, 140, 0.1);
  border-color: #BDECD8;
  background-color: #E5F6EF;

  & > span {
    color: #42C28C;
  }
}

.warning {
  box-shadow: 0 3px 8px 2px rgba(233, 169, 35, 0.1);
  border-color: #F6DCA6;
  background-color: #FBF5EA;

  & > span {
    color: #E9A923;
  }
}

.error {
  box-shadow: 0 3px 8px 2px rgba(238, 64, 64, 0.1);
  border-color: #FFD2D2;
  background-color: #FDEBEC;

  & > span {
    color: #EE4040;
  }
}
