.modal {
  background-color: #fff;
  width: 760px;
  height: 460px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  //& > i {
  //  font-size: 76px;
  //  color: #44C28C;
  //}

  //.btn {
  //  //height: 50px;
  //  padding-left: 50px;
  //  padding-right: 50px;
  //}
}
