@import '../../../../../../config.less';

.table {

  // width: 100%;
  // background-color: #999999;
  // width: 1120px;

  .rowClassName {

    .hoverVisible {
      visibility: hidden;
    }

    &:hover {
      .hoverVisible {
        visibility: visible;
      }
    }

  }

  .cover {
    width: 120px;
    height: 90px;
    position: relative;

    //& > img {
    //  width: 100%;
    //  height: 100%;
    //  border-radius: 4px;
    //}

    .Identity {

      position: absolute;
      top: 5px;
      left: 5px;
    }

    //.resource {
    //  color: @f-success-color1;
    //  background-color: @f-success-color2;
    //}
    //
    //.object {
    //  color: @f-warning-color1;
    //  background-color: @f-warning-color2;
    //}
    //
    //.exhibit {
    //  color: #666;
    //  background-color: #E0E0E0;
    //}
  }

  .name {
    //display: block;
    display: flex;
    height: 90px;
    flex-direction: column;
    width: calc(542px);
    overflow: hidden;
    justify-content: space-between;
  }

  .type {
    display: flex;
    align-items: center;
    width: 100%;

    & > label {
      border: 1px solid #C4C4C4;
      font-size: 12px;
      color: #999;
      line-height: 18px;
      padding: 0 5px;
      border-radius: 9px;
      flex-shrink: 0;
    }

    & > div {
      padding: 5px;
      flex-shrink: 1;
    }
  }

  .Delete {
    color: @f-error-color1;
  }
}


.no-longer {
  font-size: 12px;
  color: #999999;
  line-height: 18px;
  padding: 0 5px;
}

.result-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade 0.2s ease;
  z-index: @f-zIndex-modal;

  .result-popup {
    width: 312px;
    height: 200px;
    background: #ffffff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scale 0.2s ease;

    .loader {
      display: flex;
      align-items: center;
      color: #2784ff;

      .loader-icon {
        font-size: 16px;
      }

      .loader-text {
        font-size: 16px;
        line-height: 22px;
        margin-left: 10px;
      }
    }

    .result {
      display: flex;
      flex-direction: column;
      align-items: center;

      .result-icon {
        font-size: 76px;

        &.up {
          color: #42c28c;
        }

        &.down {
          color: #e9a923;
          transform: rotate(180deg);
        }
      }

      .result-text {
        font-size: 18px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #222222;
        line-height: 24px;
        margin-top: 20px;
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
