.styles {
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;
  z-index: 998;
  justify-content: center;
  display: flex;
  background-color: transparent;

  & > div {
    width: 1540px;
    background-color: transparent;

    @media (max-width: 1600px) {
      width: 1230px;
    }
  }
}

.Tabs {
  background-color: #FAFBFC;


  & > div:first-child {
    margin: 0;

    &::before {
      border-bottom-color: #E4E7EB;
    }

    & > div:first-child {
      //justify-content: center;

      & > div {
        & > button {
          font-weight: 400;
        }
      }
    }
  }
}
