@import '../../../../../../config.less';

.popoverTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 4px;
  min-width: 600px;
  box-sizing: content-box;
}

.rules {
  padding: 8px 4px;
  min-width: 600px;
  box-sizing: content-box;
}
