@import '../../../../config.less';

.board1,
.board2,
.board3 {
  border-radius: 20px;
  background-image: url('../../../../assets/dashboard-card-bg@2x.png');
  background-size: 700px 503px;
  background-position: center center;
  padding: 0 30px;
  transition: width 0.5s;
  overflow: hidden;
}

.board1 {
  width: 245px;
  height: 503px;
  background-color: #2784ff;
}

.board2 {
  width: 245px;
  height: 503px;
  background-color: #42c28c;
}

.board3 {
  width: 245px;
  height: 503px;
  background-color: #e9a923;
}

.instruction {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  transition: height 0.5s;

  .title1 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title2 {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    line-height: 24px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    text-align: justify;
    text-align-last: center;
    transition: height 0.5s;
  }

  .title3 {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    & > span {
      color: #f8e71c;
      font-size: 18px;
      display: inline-block;
      padding: 0 5px;
    }
  }
}

.tasks {
  .task {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .taskTitle {
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      line-height: 20px;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }

    .taskState {
      font-size: 14px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.5);
      line-height: 20px;
    }

    .taskFinished {
      font-size: 14px;
      font-weight: 600;
      color: #ffffff;
      margin-left: 10px;
      line-height: 20px;
    }

    .taskIcon {
      color: #ffffff;
    }

    &.finish {
      .taskTitle {
        color: rgba(255, 255, 255, 0.5);
      }

      .taskState {
        color: #fff;
      }
    }
  }
}

.tooltipDisplay {
  max-width: 500px;

  a {
    text-decoration: underline;
    color: @f-primary-color;

    &:hover {
      color: #529dff;
    }

    &:active {
      color: #2376e5;
    }
  }
}
