@import '../../../config.less';

.styles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #FAFBFC;
  min-height: calc(100vh - 70px);

  .left {
    width: 200px;

    .steps {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;

      .step {
        width: 100%;
        display: flex;
        align-items: center;
        //gap: 16px;

        .iconFArrowRight {
          font-size: 14px;
          color: #2784FF;
          display: none;
        }

        .iconFCheckMark {
          color: #666;
          font-size: 12px;
          display: none;
        }

        .title {
          font-size: 14px;
          color: #999;
        }

        &.stepActivated {
          .title {
            color: #2784FF;
          }

          .iconFArrowRight {
            display: inline-block;
          }
        }

        &.stepFinished {
          color: #999;

          .iconFCheckMark {
            display: inline-block;
          }
        }

        &.stepFinished1 {
          .title{
            color: #42C28C;
          }

          .iconFCheckMark {
            display: inline-block;
            color: #42C28C;
          }
        }
      }
    }

  }

  .right {
    width: 920px;
  }
}


