@import '../../../config.less';

.styles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #FAFBFC;
  min-height: calc(100vh - 70px);

  .left {
    width: 200px;

    .steps {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;

      .step {
        width: 100%;
        display: flex;
        align-items: center;
        //gap: 16px;

        .icon {
          font-size: 14px;
          visibility: hidden;
          color: #2784FF;
        }

        .title {
          font-size: 14px;
          color: #999;
        }

        &.stepActivated {
          .icon {
            visibility: visible;
          }

          .title {
            color: #2784FF;
          }
        }
      }
    }

  }

  .right {
    width: 920px;

    .block {
      padding: 20px;
      background-color: white;
      border-radius: 6px;
    }
  }
}

.resourceName {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
