@import '../../../../config.less';

.headerTip {
  background-color: @f-warning-color2;
  line-height: 24px;
  font-size: 12px;
  color: #7A869A;
  text-align: center;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 99;
}

.container {
  display: flex;
  width: 100%;
  align-items: stretch;

  .sider {
    width: 280px;
    flex-shrink: 0;
    //background-color: #AED0FF;
    //box-shadow: -1px 0px 0px 0px #E5E7EB;
    border-right: 1px solid #E4E7EB;

    .title {
      padding: 0 40px;

      & > label {
        border: 1px solid @f-warning-color1;
        color: @f-warning-color1;
        background-color: @f-warning-color2;
        padding: 0 5px;
        line-height: 18px;
        border-radius: 4px;
        font-size: 12px;
      }

      & > span {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
      }
    }

    .url {
      padding: 0 40px;

      a {
        text-decoration: underline;
      }
    }

    .navs {
      & > div {
        padding: 15px 40px;
        color: #222;
        font-size: 14px;
        cursor: pointer;

        &.activated {
          background: #F4F5F7;
          color: #2784FF;
        }
      }
    }
  }

  .content {
    width: 100%;
    flex-shrink: 1;
    //background-color: #529DFF;

    .header {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
    }

    .body {
      padding: 0 20px;

      .table {
        //width: 100%;
        width: 1120px;

        .cover {
          width: 120px;
          height: 90px;
          background-image: url("../../../../assets/default-resource-cover.jpg");
          background-size: cover;
          position: relative;

          & > img {
            width: 100%;
            height: 100%;
          }

          .resource, .object, .exhibit {
            padding: 4px 5px;
            border-radius: 2px;
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 12px;
          }

          .resource {
            color: @f-success-color1;
            background-color: @f-success-color2;
          }

          .object {
            color: @f-warning-color1;
            background-color: @f-warning-color2;
          }

          .exhibit {
            color: #666;
            background-color: #E0E0E0;
          }
        }

        .name {
          //display: block;
          display: flex;
          height: 90px;
          flex-direction: column;
          width: calc(542px);
          overflow: hidden;
          justify-content: space-between;
        }

        .type {
          display: flex;
          align-items: center;
          width: 100%;

          & > label {
            border: 1px solid #C4C4C4;
            font-size: 12px;
            color: #999;
            line-height: 18px;
            padding: 0 5px;
            border-radius: 9px;
            flex-shrink: 0;
          }

          & > div {
            padding: 5px;
            flex-shrink: 1;
          }
        }
      }

      .Delete {
        color: @f-error-color1;
      }
    }
  }
}

.rowClassName {

  .hoverVisible {
    visibility: hidden;
  }

  &:hover {
    .hoverVisible {
      visibility: visible;
    }
  }

}



