@import '../../../config.less';

.content {
  display: flex;
  justify-content: space-between;

  .contentLeft {
    width: 560px;
  }

  .contentRight {
    width: 300px;

    .previewCard {
      width: 300px;
      background: #FFFFFF;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      padding: 10px;

      .imgPreview {
        overflow: hidden;
        display: block;
        width: 280px;
        height: 210px;
      }
    }
  }
}

//.imgBox {
//  display: inline-block;
//  padding: 10px;
//  box-sizing: border-box;
//}


