@import '../../../config.less';

.styles {

}

.DepPanelNav {
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: space-between;
  padding: 10px 15px;
  //border-bottom: 1px solid #E5E7EB;
  border-right: 1px solid transparent;
  cursor: pointer;

  & > div:first-child {
    flex-shrink: 1;
    padding-right: 20px;
    overflow: hidden;
  }

  .FFileSearch {
    display: none;
  }

  &:hover {
    .FFileSearch {
      display: block;
    }
  }

}

.childrenDepPanelNav {
  padding: 10px 15px 10px 45px;
  cursor: pointer;

  .FFileSearch {
    display: none;
  }

  &:hover {
    .FFileSearch {
      display: block;
    }
  }
}

.DepPanelNavActive {
  background-color: #FAFBFC;
  //border-right-color: white;
}

.titleErrorIcon {
  color: @f-error-color1;
  font-size: 16px !important;
}

//.titleRow {
//
//}

//.title {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//  gap: 5px;
//  width: 100%;
//
//  .titleText {
//    //max-width: 185px;
//
//    &:hover {
//      color: inherit;
//    }
//  }
//}

.DepPanelLabels {
  display: flex;
  flex-wrap: wrap;
  //margin-bottom: -5px;


  & > label {
    line-height: 23px;
    padding: 0 6px;
    font-size: 12px;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 5px;

    //&.labelInfo {
    //  color: #2784FF;
    //  background-color: #E9F2FF;
    //  border: 1px solid #AED0FF;
    //}

    &.labelError {
      color: #EE4040;
      background-color: #FDEBEC;
      border: 1px solid #F2C9CC;
    }
  }
}

//.row {
//  width: 100%;
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//  gap: 5px;
//
//  .title1 {
//    overflow: hidden;
//    white-space: nowrap;
//    text-overflow: ellipsis;
//    display: block;
//    flex-shrink: 1;
//    color: #222;
//    font-size: 14px;
//    line-height: 20px;
//    font-weight: 600;
//  }
//
//  .icon {
//    flex-shrink: 0;
//    width: fit-content;
//    display: flex;
//    align-items: center;
//    gap: 5px;
//  }
//}
