@import '../../../../../../../config.less';

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;

  .filterInput {
    width: 322px;
  }
}

.treeArea {
  padding: 0 15px;
}
