.styles {
  padding: 40px 0;

}

.title {
  display: flex;
  align-items: center;

}

.dot {
  width: 4px;
  height: 4px;
  margin-right: 10px;
  margin-left: 36px;
  border-radius: 50%;
  background-color: #EE4040;
}

.dotHidden {
  visibility: hidden;
}

.content {
  padding: 0 70px;
}
