.policy {
  margin: 0 30px 20px 0;
}

.policyHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.policyContent {
  width: 255px;
  height: 200px;
  border: 1px solid #E4E7EB;
  border-radius: 4px;
  padding: 15px;
  overflow: hidden;
  margin: 0;

  & > pre {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.fullscreen {
  text-align: right;
  font-size: 12px;
}
