.text {
  color: #666;
  text-align: left;
}

.first {
  font-size: 30px;
  line-height: 36px;
}

.second {
  font-size: 16px;
  line-height: 22px;
}

.third {
  font-size: 14px;
  line-height: 20px;
}
