@import '../../config.less';

.style {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #FFFFFF;
  padding: 0 10px;
  border-radius: 10px;
  display: inline-block;
}

.authorized {
  background-color: @f-success-color1;
}

.pending {
  background-color: @f-warning-color1;
}

.stopped {
  background-color: #999;
}
