@import '../../../../../../config.less';

.popoverTitleTip {
  display: flex;
  align-items: center;

  .resourceDot, .objectDot, .exhibitDot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
  }

  .resourceDot {
    background-color: @f-success-color1;
  }

  .objectDot {
    background-color: @f-warning-color1;
  }

  .exhibitDot {
    background-color: #666;
  }
}
