@import '../../../../../config.less';

.fileInfo {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  padding-right: 20px;

  .card {
    display: flex;
    padding: 0 20px;
    height: 88px;

    border-radius: 6px;
    align-items: center;
    width: fit-content;

    .img {
      width: 56px;
      height: 58px;
    }

    .info {
      display: flex;
      align-items: center;
      width: max-content;
      justify-content: space-between;

      .infoSize {
        flex-shrink: 0;
      }

      .Progress {
        display: block;
        width: 100px;
      }
    }
  }
}


//.taskItem {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//  height: 65px;
//  border-bottom: 1px solid #E5E5E5;
//  background-color: white;
//
//  //& > div:first-child {
//  //  width: 60%;
//  //}
//
//  & > div:last-child {
//    width: 40%;
//  }
//
//  .taskInfo {
//    width: 50%;
//  }
//
//  .Uploading {
//    display: flex;
//    width: 50%;
//    justify-content: space-between;
//    align-items: center;
//  }
//
//  .UploadSuccess {
//    display: flex;
//    justify-content: space-between;
//    color: @f-success-color1;
//  }
//
//  .UploadFailed {
//    display: flex;
//    align-items: center;
//    justify-content: space-between;
//    color: @f-error-color1;
//  }
//}
