@import '../../config.less';

.PolicyBodyTabs {
  padding: 0 20px;
  height: 30px;
  border-bottom: 1px solid #E5E7EB;
  display: flex;
  align-items: center;

  & > a {
    color: #222;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    height: 100%;

    &.PolicyBodyTabActivated {
      color: @f-primary-color;
      border-bottom-color: @f-primary-color;
    }
  }
}

.PolicyBodyContainer {
  //height: 170px;
  overflow: auto;
  overscroll-behavior: contain;

  & > div {
    padding: 15px 20px;
    width: fit-content;
    height: fit-content;
  }
}
