@import '../../../../www/src/config.less';

.notice {
  background-color: #EDF6FF;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .noticeContent {
    width: 1190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
