// background color
$main: #2784ff;
$minor: #edf6ff;
$content: #fafbfc;
$divide: #e4e7eb;
$success: #44c28c;
$success-minor: #e5f5ee;
$warn: #e9a923;
$warn-minor: #fbf5ea;
$error: #ee4040;
$error-minor: #fdebec;
$end: #999999;
// font color
$fc-red: #ee4040;
$fc-white: #ffffff;
$fc-green: #44c28c;
$fc-blue: #2784ff;
$fc-grey: #666666;

$fc-regular: #222222;
$fc-main: #222222;
$fc-less: #999999;

// navigator
$fc-nav-normal: #222222;
$fc-nav-active: #2784ff;

$bt-main: #2784ff;
$bt-hover: #529dff;
$bt-active: #2376e5;

$bt-c-main: white;
$bt-c-hover: #ededed;
$bt-c-active: #e6e6e6;
