// content font size
$fs-content-normal: 14px;
$fs-content-small: 13px;
$fs-content-least: 12px;

// title font size
$fs-title-1: 24px;
$fs-title-2: 20px;
$fs-title-3: 18px;
$fs-title-4: 16px;
$fs-title-5: 14px;
$fs-title-6: 12px;

// tip
$fs-prompt-main: 30px;
$fs-prompt-minor: 16px;
$fs-prompt-less: 14px;

// navigator
$fs-nav-normal: 14px;
$fs-nav-active: 14px;

