@import '../../config.less';

.styles {
  border-width: 1px;
  border-style: solid;
  border-color: #E4E7EB;
  background-color: white;
  height: 38px;

  &:hover {
    border-color: #CBCBCB !important;
  }

  &:focus {
    border-color: @f-primary-color !important;
  }
}
