@import '../../config.less';

.container {
  height: 38px;
  border-radius: 4px;
  border: 1px solid #D4D4D4;
  width: 540px;
  display: flex;
  align-items: center;
  padding: 0 10px;

  & > label {
    font-size: 14px;
    font-weight: 400;
    color: #BEBEBE;
    line-height: 20px;
    flex-shrink: 0;
  }

  .input {
    border: none;
    box-shadow: none;
    outline: 0;
    padding: 0;
    display: block;
    width: 100%;
    flex-shrink: 1;
    //width: 284px;
    //height: 24px;
  }
}
