@import '../../config.less';

.dot {
  width: 4px;
  height: 4px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #EE4040;
  display: inline-block;
}

//.filed {
//  font-size: 12px;
//  color: ;
//}

.title {
  display: flex;
  align-items: center;
}

.delete {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input{
  width: 190px;
}

//.footer {
//  height: 70px;
//  display: flex;
//  justify-content: flex-end;
//  align-items: center;
//  padding-right: 40px;
//  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.05);
//  position: fixed;
//  right: 0;
//  bottom: 0;
//  width: 720px;
//  background-color: white;
//}
