@import '../../../config.less';

.ModalContainer {
  width: 600px;
  margin: 100px auto;
  background-color: white;
  padding: 100px;

  .userPassword {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .modalBlockInput {
    width: 100%;
  }

  .modalFooter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
