@import '../../../../config.less';

.style {
  background-color: white;
}

.regulation {
  display: flex;
  flex-direction: column;
  align-items: center;

  .regulationTitle {
    font-size: 30px;
    font-weight: 400;
    color: #222;
    line-height: 36px;
  }

  .regulationContent {
    width: 830px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .regulationItem {
      display: flex;
      width: 830px;

      .circle {
        width: 12px;
        height: 12px;
        border: 2px solid #E9A923;
        border-radius: 50%;
        transform: translateY(4px);
      }

      .text {
        width: 800px;
        font-size: 14px;
        font-weight: 400;
        color: #666;
        line-height: 20px;

        & > a {
          color: @f-primary-color;

          &:hover {
            color: #529DFF;
            text-decoration: underline;
          }

          &:active {
            color: #2376E5;
          }
        }
      }
    }
  }

}
