.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade 0.2s ease;
  z-index: 1000;

  .dialog {
    position: relative;
    width: 460px;
    padding: 0 15px;
    background: #ffffff;
    border-radius: 6px;
    border: 1px solid #d8d8d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scale 0.2s ease;

    .close-btn {
      position: absolute;
      top: 30px;
      right: 17px;
      height: 25px;
      width: 25px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        color: #529dff;
      }

      &:active {
        color: #2376e5;
      }
    }

    .title {
      width: 100%;
      text-align: center;
      font-size: 18px;
      color: #222222;
      line-height: 25px;
      margin-top: 30px;
    }

    .desc {
      font-size: 16px;
      color: #666666;
      line-height: 22px;
      margin-top: 60px;
    }

    .btns {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 70px;

      .cancel-btn {
        height: 38px;
        padding: 9px 20px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        font-size: 14px;
        color: #666666;
        line-height: 20px;
        cursor: pointer;
        transition: all 0.2s linear;

        &:hover {
          background: #ededed;
        }

        &:active {
          background: #e6e6e6;
        }
      }

      .sure-btn {
        padding: 9px 20px;
        display: flex;
        align-items: center;
        background: #2784ff;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
        margin-left: 10px;
        cursor: pointer;
        transition: all 0.2s linear;

        &:hover {
          background: #529dff;
        }

        &:active {
          background: #2376e5;
        }

        .loader {
          margin-right: 10px;
        }
      }
    }

    .footer {
      width: 100%;
      margin: 15px 0;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
