@import '../../config.less';

.resource, .object, .exhibit {
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  padding: 3px 5px;
  border-radius: 4px;
}

.resource {
  color: @f-success-color1 !important;
  background-color: @f-success-color2 !important;
}

.object {
  color: @f-warning-color1 !important;
  background-color: @f-warning-color2 !important;
}

.exhibit {
  color: #666 !important;
  background-color: #E0E0E0 !important;
}
