//@import '../../config.less';

.styles {
  width: 100%;
  padding: 0 20px;
  .exhibitTip {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    line-height: 17px;
    .link {
      font-size: 12px;
      font-weight: 400;
      color: #2784ff;
      &:active {
        border-bottom: 1px solid #2784ff;
      }
      &:hover {
        border-bottom: 1px solid #2784ff;
      }
    }
  }
  .header {
    //height: 100px;
    display: flex;
    align-items: center;

    & > a {
      font-size: 24px;
      font-weight: 600;
      color: #222;
      line-height: 32px;
      border-bottom: 2px solid transparent;
      padding-top: 4px;
      padding-bottom: 2px;
      display: inline-block;

      &.active {
        color: #2784ff;
        border-bottom-color: #2784ff;
      }
    }
  }

  .content {
    background: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .filter {
      display: flex;
      padding: 20px 20px 0;
      align-items: center;
      justify-content: space-between;

      .filterInput {
        width: 200px !important;
      }
    }

    .target {
      display: flex;
      align-items: center;

      .targetCover {
        position: relative;
        width: 120px;
        height: 90px;

        .targetType {
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }

      .targetInfo {
        height: 90px;
        width: 75%;

        .targetInfoLabels {
          label {
            background: #e9f2ff;
            border-radius: 2px;
            border: 1px solid #aed0ff;
            font-size: 12px;
            font-weight: 400;
            color: #2784ff;
            line-height: 18px;
            padding: 0 6px;
            display: inline-block;
          }
        }
      }
    }

    .signatory {
    }

    .contract {
      .authorized,
      .pending,
      .exception,
      .terminated {
        font-weight: 600;
        font-size: 14px;
      }

      .authorized {
        color: #42c28c;
      }

      .pending {
        color: #e9a923;
      }

      .exception {
        color: #ee4040;
      }

      .terminated {
        color: #666666;
      }
    }
  }

  .contentFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
}

.table {
  .rowClassName {
    .hoverVisible {
      visibility: hidden;
    }

    &:hover {
      .hoverVisible {
        visibility: visible;
      }
    }
  }
}
