.depUpthrow {
  //padding-top: 30px;
  display: flex;
  //align-items: center;

  .tip {
    display: flex;
    width: 75px;
    flex-shrink: 0;
    align-items: center;
    height: 24px;
  }

  .depUpthrowLabel {
    flex-shrink: 1;
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: -10px;

    & > label {
      border: 1px solid #F2C9CC;
      background-color: #FDEBEC;
      font-size: 12px;
      border-radius: 10px;
      color: #EE4040;
      padding: 0 10px;
      line-height: 22px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
