.flex-row {
  display: flex;
  position: relative;
}

.flex-column {
  display: flex;
  flex-direction: column;
  position: relative;
}

.space-between {
  justify-content: space-between;
  align-content: space-between;
}

.space-around {
  align-content: space-around;
  justify-content: space-around;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.self-center {
  align-self: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-baseline {
  align-self: baseline;
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.text-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-reverse {
  flex-wrap: wrap-reverse;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-2-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.text-3-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.text-breakAll {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
.text-break {
  white-space: normal;
  word-break: normal;
  word-wrap: break-word;
}
.text-pre-wrap {
  white-space: pre-wrap;
}
.text-pre {
  white-space: pre;
}
.text-pre-line {
  white-space: pre-line;
}
.shrink-0 {
  flex-shrink: 0;
}

// position
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: sticky;
}

@for $i from -100 through 500 {
  .l-#{$i} {
    left: 1px * $i;
  }

  .r-#{$i} {
    right: 1px * $i;
  }

  .t-#{$i} {
    top: 1px * $i;
  }

  .b-#{$i} {
    bottom: 1px * $i;
  }

  .l-#{$i}p {
    left: 1% * $i;
  }

  .r-#{$i}p {
    right: 1% * $i;
  }

  .t-#{$i}p {
    top: 1% * $i;
  }

  .b-#{$i}p {
    bottom: 1% * $i;
  }

  .lt-#{$i} {
    left: 1px * $i;
    top: 1px * $i;
  }

  .lb-#{$i} {
    left: 1px * $i;
    bottom: 1px * $i;
  }

  .rt-#{$i} {
    right: 1px * $i;
    top: 1px * $i;
  }

  .rb-#{$i} {
    right: 1px * $i;
    bottom: 1px * $i;
  }
}

.b-box {
  box-sizing: border-box;
}
.c-box {
  box-sizing: content-box;
}
// display
.d-block {
  display: block;
}

.d-inline {
  display: inline-block;
}

.d-none {
  // why not hide ? avoid to override other library
  display: none;
}

// scroll
.y-auto {
  overflow-y: auto;
}

.x-auto {
  overflow-x: auto;
}

.y-scroll {
  overflow-y: scroll;
}

.x-scroll {
  overflow-x: scroll;
}

.y-hidden {
  overflow-y: hidden;
}

.x-hidden {
  overflow-x: hidden;
}

.over-h {
  overflow: hidden;
}
