.cur-default {
  cursor: default;
}

.cur-move {
  cursor: move;
}

.cur-wait {
  cursor: wait;
}

.cur-pointer {
  cursor: pointer;
}

.cur-crosshair {
  cursor: crosshair;
}

.cur-help {
  cursor: help;
}

.cur-e-resize {
  cursor: e-resize;
}

.cur-ne-resize {
  cursor: ne-resize;
}

.cur-nw-resize {
  cursor: nw-resize;
}

.cur-n-resize {
  cursor: n-resize;
}

.cur-se-resize {
  cursor: se-resize;
}

.cur-sw-resize {
  cursor: sw-resize;
}

.cur-s-resize {
  cursor: s-resize;
}

.cur-w-resize {
  cursor: w-resize;
}

.select-none {
  user-select: none;
}
