
.app-container {
  width: 1190px;
  margin: 70px auto 0;
  min-height: 80vh;
}

.main-app-content {
  width: 920px;
  margin-left: 10px;
  padding: 0;
  background-color: white;
  &.transparent {
    background-color: transparent;
  }

  .fade-leave-active {
    transition: opacity .1s ease;
  }

  .fade-enter-active {
    transition: opacity .5s .1s ease;
  }
  .fade-enter, .fade-leave-active {
    opacity: 0
  }
}

.main-content {
  width: 100%;
  margin: auto;
}

.index-card {
  width: 800px;
  margin: 100px auto;
}

.mainContent {
  color: #878d99;
  background-color: white;
  min-height: 800px;
}

.contentBody {
  padding: 20px;
}
