@import '../../config.less';

.styles {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
  flex-wrap: wrap;
  box-sizing: border-box;

  & > div {
    margin-bottom: 10px;
    padding-right: 10px;
    width: 25%;

    //& > div {
    //  //padding: 5px 10px 5px 5px;
    //
    //}
  }
}

.rawProperties {
  padding: 5px 10px 5px 5px;
}

.baseProperty {
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding: 5px 10px 5px 5px;
    background-color: #F1F1F1;

    &:hover {
      .Operation {
        visibility: visible;
      }
    }

    .Operation {
      visibility: hidden;
    }
  }

}
