.PolicyTemplate {

  padding: 15px;
  background: #FAFBFC;
  border-radius: 6px;
  border: 1px solid #E5E7EB;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;

  }

  .navs {
    display: flex;
    align-items: center;
  }
}


.content {
  background-color: #FAFBFC;
  border-radius: 4px;

  & > pre {
    margin: 0;
    padding: 20px;
  }
}
