@import '../../config.less';

.PolicyBodyTabs {
  padding: 0 20px;
  height: 30px;
  //border-bottom: 1px solid #E5E7EB;
  display: flex;
  align-items: center;

  & > a {
    color: #222;
    font-size: 12px;
    border-bottom: 2px solid transparent;
    height: 100%;

    &.PolicyBodyTabActivated {
      color: @f-primary-color;
      border-bottom-color: @f-primary-color;
    }
  }
}

.PolicyBodyContainer {
  //height: 170px;
  //overflow: auto;
  //overscroll-behavior: contain;
  padding: 0 20px;
  background-color: white;
  overflow: hidden;

  .StateRecord {
    padding: 15px;
    background-color: #FAFBFC;
    border-radius: 0 0 6px 6px;

    .CurrentState {
      width: 100%;

      .Authorized, .Unauthorized {
        border-radius: 10px;
        font-size: 12px;
        height: 20px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        color: white;
      }

      .Authorized {
        background-color: #42C28C;
      }

      .Unauthorized {
        background-color: #E9A923;
      }

      .Event {
        border-radius: 4px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba(0, 0, 0, 0.15);

      }
    }

    .TransferringRecords {
      width: 100%;

      .TransferringRecord {
        width: 100%;
        position: relative;

        .Authorized, .Unauthorized {
          font-size: 12px;
          height: 20px;
          border-radius: 10px;
          padding: 0 10px;
          display: flex;
          align-items: center;
          color: white;
        }

        .Authorized {
          background-color: #42C28C;
        }

        .Unauthorized {
          background-color: #E9A923;
        }

        .Event {
          border-radius: 4px;
          border: 1px solid #2784FF;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: rgba(39, 132, 255, 0.08);
        }

        .mask {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(255, 255, 255, .7);
        }
      }
    }

    .recodeFold {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

  .Text {
    padding: 15px;
    background-color: #FAFBFC;
    border-radius: 0 0 6px 6px;
    width: 100%;
  }

  .View {
    padding: 15px;
    background-color: #FAFBFC;
    border-radius: 0 0 6px 6px;
    height: 170px;
  }

  .Code {
    padding: 15px;
    background-color: #FAFBFC;
    border-radius: 0 0 6px 6px;
    width: 100%;
  }
}


.ModalTitle {
  height: 56px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E4E7EB;
}

.paymentAmount {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  & > label {
    font-size: 50px;
    line-height: 1;
  }
}

.paymentInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .paymentInfoRow {
    display: flex;
    align-items: center;

    & > div:first-child {
      width: 90px;
    }

    & > div:last-child {
      display: flex;
      align-items: center;
    }
  }

  .paymentPassword {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
