//@import '~antd/lib/style/themes/default.less';
@import '../../config.less';

.wrap {
  display: inline-block;
  width: fit-content;
  position: relative;

  :global(.ant-input-affix-wrapper.ant-input-affix-wrapper-focused) {
    border-color: @f-primary-color !important;
    background-color: #fff;
  }

  :global(.ant-input) {
    &:focus {
      border-color: @f-primary-color !important;
    }
  }

  :global(.ant-input-focused){
    border-color: @f-primary-color !important;
  }
}

.Input {
  border-width: 1px;
  border-style: solid;

  &:hover {
    border-color: #CBCBCB;
  }

  &:focus {
    //border-color: @f-primary-color;
    border-color: @f-primary-color !important;
  }

  &.InputError {
    //&, &:hover, &:active, &:focus {
    //  border-color: @f-error-color1;
    //}
  }

  //:global(.ant-input:focus) {
  //
  //}

  //&.ant-input-affix-wrapper:focus, &.ant-input-affix-wrapper-focused {
  //  border-color: @f-primary-color !important;
  //}


}


.light {
  background-color: white;
  border-color: #E4E7EB;
}

.darkPrefix {
  color: #8E8E93;
  font-size: 14px;
}

.dark {
  border-color: rgba(0, 0, 0, 0.03);
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 22px;

  input {
    background-color: transparent;
  }
}

.errorText {
  color: @f-error-color1;
  position: absolute;
  top: 100%;
  left: 0;
  //line-height: 20px;
  padding-left: 10px;
  padding-top: 5px;
  white-space: nowrap;
}

.FInputWordCount {
  color: #C4C4C4;
}

.beyond {
  color: @f-error-color1;
}


