@import '../../config.less';

.styles {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .img {
    width: 280px;
  }

  .tip {
    font-size: 30px;
    font-weight: 400;
    color: #666;
    line-height: 36px;
    padding: 0 100px;
  }
}
