.banner0 {
  height: 50px;
  background: linear-gradient(225deg, #9B4472 0%, #FFC456 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;

  .banner0White {
    color: white;
  }

  .banner0Red {
    color: #970955;
    font-weight: 600;
    display: inline-block;
    padding: 0 5px;
  }
}

.banner1 {
  background-image: url("../../assets/banner1.png");
  height: 646px;
  background-size: auto 100%;
  background-position: center;
  background-color: white;
  display: flex;
  //align-items: center;
  justify-content: center;

  .banner1Content {
    width: 1060px;

    .banner1H1 {
      font-size: 70px;
      font-weight: 400;
      color: #222222;
      line-height: 76px;
      margin: 0;
    }

    .banner1H2 {
      font-size: 22px;
      font-weight: 600;
      color: #222222;
      line-height: 28px;
      margin: 0;
    }

    .banner1H3 {
      font-size: 16px;
      font-weight: 400;
      color: #63676C;
      line-height: 22px;
      margin: 0;
    }

    //.banner1Btn {
    //  height: 60px;
    //}
  }
}

.banner3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAFBFC;

  .banner3H1 {
    font-size: 40px;
    font-weight: 600;
    color: #222222;
    line-height: 46px;
    margin: 0;
  }

  .banner3H2 {
    font-size: 16px;
    font-weight: 400;
    color: #63676C;
    line-height: 26px;
    margin: 0;
  }

  .banner3_Content {
    width: 1060px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .banner3_Content_LeftImg {
      width: 640px;
      height: 520px;
      position: absolute;
      top: 0;
      left: -100px;
    }

    .banner3_Content_RightImg {
      width: 640px;
      height: 520px;
      position: absolute;
      top: 0;
      right: -100px;
    }

    .banner3_Content_Display {
      width: 420px;

      .banner3_Content_DisplayH1 {
        font-size: 28px;
        font-weight: 400;
        color: #222;
        line-height: 34px;
      }

      .banner3_Content_DisplayH2 {
        font-size: 14px;
        font-weight: 400;
        color: #222222;
        line-height: 24px;
      }
    }
  }
}

.banner4 {
  background-image: url("../../assets/banner4.png");
  height: 514px;
  background-size: auto 100%;
  background-position: center bottom;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .banner4H1 {
    font-size: 44px;
    font-weight: 400;
    color: #222222;
    line-height: 50px;
    margin: 0;
  }

  .banner4H2 {
    font-size: 18px;
    font-weight: 400;
    color: #63676C;
    line-height: 24px;
    margin: 0;
  }
}

.footer {
  height: 70px;
  background-color: #FAFBFC;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .footerLeft {
    display: flex;

    .footerLeft_Link {
      font-size: 14px;
      font-weight: 400;
      color: #222;
      line-height: 20px;
    }
  }

  .footerRight {
    display: flex;
    align-items: center;

    .policeImg {
      width: 16px;
      height: 18px;
    }

    .footerRightText {
      font-size: 12px;
      font-weight: 400;
      color: #666666;
      line-height: 18px;
    }
  }
}

.rewardSuspension {
  display: block;
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 158px;
  height: 180px;

  & > img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
