.banner0 {
  height: 50px;
  background: linear-gradient(225deg, #9B4472 0%, #FFC456 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;

  .banner0White {
    color: white;
  }

  .banner0Red {
    color: #970955;
    font-weight: 600;
    display: inline-block;
    padding: 0 5px;
  }
}

.banner1 {
  background-image: url("../../assets/banner1.png");
  height: 646px;
  background-size: auto 100%;
  background-position: center;
  background-color: white;
  display: flex;
  //align-items: center;
  justify-content: center;

  .banner1Content {
    width: 1060px;

    .banner1H1 {
      font-size: 70px;
      font-weight: 400;
      color: #222222;
      //line-height: 76px;
      line-height: 1;
    }

    .banner1H2 {
      font-size: 22px;
      font-weight: 600;
      color: #222222;
      //line-height: 28px;
      line-height: 1;
    }

    .banner1H3 {
      font-size: 16px;
      font-weight: 400;
      color: #63676C;
      //line-height: 22px;
      line-height: 1;
    }

    //.banner1Btn {
    //  height: 60px;
    //}
  }
}

.banner2 {
  //height: 248px;
  background-color: white;
}

.banner3 {
  //height: 836px;
  background-color: #FAFBFC;
}

.banner4 {
  background-image: url("../../assets/banner4.png");
  height: 514px;
  background-size: auto 100%;
  background-position: center bottom;
  background-color: white;
}
