.cut-drawer-wrapper {
  .cut-img-box {
    position: relative;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;

    &:first-child .cut-mark {
      display: none;
    }

    .cut-mark {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      display: flex;

      .freelog {
        font-size: 14px;
        transform: translateY(-50%) rotate(90deg);
        color: #666;
      }

      .line {
        flex: 1;
        height: 0;
        margin-left: 5px;
        border-top: 1px dashed #999999;
      }
    }

    .name-size {
      position: absolute;
      left: 40px;
      top: 10px;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 4px;
      backdrop-filter: blur(2px);
      padding: 3px 5px;
      font-size: 12px;
      font-weight: 600;
      color: #d2d2d2;
      line-height: 18px;

      span + span {
        margin-left: 10px;
      }
    }

    .cut-img {
      width: 100%;
      -webkit-user-drag: none;
    }
  }

  .close-btn {
    font-size: 12px;
    color: #333;
    cursor: pointer;

    &:hover {
      color: #529dff;
    }

    &:active {
      color: #2376e5;
    }
  }

  .ant-drawer-content-wrapper {
    box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
  }

  .ant-drawer-header {
    padding: 21px 30px;
    border-bottom: 1px solid #e5e7e8;
  }

  .ant-drawer-title {
    font-size: 20px;
    color: #222222;
    line-height: 28px;
    font-weight: normal;
  }

  .ant-drawer-body {
    padding: 30px 20px;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
