@import '../../../config.less';

.newButton {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: #222;
  transition: none;
  border-top: 1px solid #E4E7EB;

  &:hover {
    color: white;
    background-color: @primary-color;
  }
}
