@import '../../config.less';

.ableCheckCard {
  width: 300px;
  background: #FFF;
  border-radius: 10px;
  border: 1px solid #E5E7EB;
  padding: 10px;
  cursor: pointer;

  &:hover {

  }

  &.checked {
    border-color: #2784FF;
  }

  &.disabled {
    opacity: .4;
    cursor: not-allowed;
  }

  .ableCheckCardInfo {
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
  }

  .MetaFooter {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    height: 24px;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 5px;

  & > img {
    width: 28px;
    height: 28px;
    border: 1px solid #E5E7EB;
    border-radius: 50%;
  }

  & > span {
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    line-height: 18px;
  }
}
