.cur-default {
    cursor: default !important; 
 }
.cur-disabled{
   cursor: not-allowed !important; 
}
 .cur-move {
    cursor: move !important; 
 }

 .cur-wait {
    cursor: wait !important; 
 }

 .cur-pointer {
    cursor: pointer !important; 
 }

 .cur-crosshair {
    cursor: crosshair !important; 
 }

 .cur-help {
    cursor: help !important; 
 }

 .cur-e-resize {
    cursor: e-resize !important; 
 }

 .cur-ne-resize {
    cursor: ne-resize !important; 
 }

 .cur-nw-resize {
    cursor: nw-resize !important; 
 }

 .cur-n-resize {
    cursor: n-resize !important; 
 }
 
 .cur-se-resize {
    cursor: se-resize !important; 
 }

 .cur-sw-resize {
    cursor: sw-resize !important; 
 }

 .cur-s-resize {
    cursor: s-resize !important; 
 }

 .cur-w-resize {
    cursor: w-resize !important; 
 }
 
 .select-none{
   user-select: none;
 }

 .pe-none {
   pointer-events: none;
 }