each(range(1000), {


  .p-@{value} {
    padding: (1px * @value) !important;
  }

  .px-@{value} {
    padding-left: (1px * @value) !important;
    padding-right: (1px * @value) !important;
  }

  .py-@{value} {
    padding-top: (1px * @value) !important;
    padding-bottom: (1px * @value) !important;
  }

  .pt-@{value} {
    padding-top: (1px * @value) !important;
  }

  .pr-@{value} {
    padding-right: (1px * @value) !important;
  }

  .pb-@{value} {
    padding-bottom: (1px * @value) !important;
  }

  .pl-@{value} {
    padding-left: (1px * @value) !important;
  }

  .m-@{value} {
    margin: (1px * @value) !important;
  }

  .mx-@{value} {
    margin-left: (1px * @value) !important;
    margin-right: (1px * @value) !important;
  }

  .my-@{value} {
    margin-top: (1px * @value) !important;
    margin-bottom: (1px * @value) !important;
  }

  .mt-@{value} {
    margin-top: (1px * @value) !important;
  }

  .mr-@{value} {
    margin-right: (1px * @value) !important;
  }

  .mb-@{value} {
    margin-bottom: (1px * @value) !important;
  }

  .ml-@{value} {
    margin-left: (1px * @value) !important;
  }

  .w-@{value} {
    width: (1px * @value) !important;
  }
  .minw-@{value} {
    width: (1px * @value) !important;
  }
  .maxw-@{value} {
    width: (1px * @value) !important;
  }
  .maxh-@{value} {
    height: (1px * @value) !important;
  }
  .h-@{value} {
    height: (1px * @value) !important;
  }
  .z-@{value} {
    z-index: @value !important;
  }
});

.w-100x {
  width: 100%;
}

.h-100x {
  height: 100%;
}

//.w-100v {
//  width: 100vw;
//}

//.h-100v {
//  height: 100vh;
//}
