@import '../../config.less';



.ModalContainer {
  width: 400px;
  margin: 0 auto;

  .userPassword {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .modalBlockInput {
    width: 100%;
  }

  .modalFooter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
