@import '../../../../../config.less';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  background-color: white;

  .FForbid {
    font-size: 100px;
    color: @f-error-color1;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
