//@import '../config.less';

.styles {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  //margin-right: -5px;
  //margin-bottom: -5px;
  flex-wrap: wrap;
  gap: 5px;

  &.singleRow {
    //height: 29px;
    overflow: hidden;
    flex-wrap: nowrap;
  }

  .label {
    display: flex;
    align-items: center;
    background-color: #E9F2FF;
    border-radius: 2px;
    border: 1px solid #AED0FF;
    height: 24px;
    padding: 0 5px;
    //margin-right: 5px;
    //margin-bottom: 5px;
    flex-shrink: 0;
    width: fit-content;

    .labelText {
      font-size: 12px;
      font-weight: 400;
      color: #2784FF;
      line-height: 18px;
      display: inline-block;
    }

    .labelDot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      display: inline-block;
    }
  }
}
