.text {
  align-items: center;
  display: flex;
  width: fit-content;
  cursor: pointer !important;
  gap: 10px;
}

.menu {
  max-height: 460px;
  overflow-y: auto;
}

//.DownOutlined {
//  //margin-left: 10px;
//  transform: scale(1.2, .8);
//}
//
//.UpOutlined {
//  //margin-left: 10px;
//  transform: scale(1.2, .8);
//}
