@import '../../../../../config.less';

.container {
  position: relative;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.body {
  padding: 0 20px;

  & > div {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: white;
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  .item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 13px 0;
    border-bottom: 1px solid #E5E7EB;

    .itemContent {

      width: calc(100% - 40px);

      .itemName {
        display: flex;
        align-items: center;
        width: 100%;

        & > div:first-child {
          max-width: calc(100% - 100px);
        }
      }
    }

  }
}

.footer {
  //text-align: center;
  //margin-top: 12px;
  //line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

