.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

//.content {
//  background-color: #fff;
//}
//
//.wrap {
//  padding: 0 50px;
//}
//
//.resourceError {
//  font-size: 14px;
//  color: red;
//}

.markdownRecommended {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .02);
  border-radius: 4px;

  .markdownRecommended_tip {

  }
}
