@import '../../../../../config.less';

.policyTemplates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

  .policyTemplate {
    width: 430px;
    height: 137px;
    background-color: #FAFBFC;
    border-radius: 6px;
    border: 1px solid #E5E7EB;
    padding: 15px;
  }
}
