.styles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: baseline;

  .nodeName {
    &:hover {
      color: inherit;
    }
  }
}

.body {
  display: flex;
  align-items: flex-start;
}

.content {
  background-color: white;
  width: 920px;
  display: flex;
  justify-content: center;
  //border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  & > div {
    width: 860px;
    border-radius: 8px;
    padding: 40px 0;
  }
}
