//@import '../../config.less';

.info {
  width: 100%;

  .row {
    display: flex;
    align-items: center;

    .left {
      width: 160px;
      height: 38px;
      display: flex;
      align-items: center;
    }

    .right {
      width: 700px;
      height: 38px;
      display: flex;
      align-items: center;
    }
  }
}

.ModalContainer {
  width: 400px;
  margin: 0 auto;

  .modalBlockInput {
    width: 100%;
  }

  .modalOldMedium{
    display: flex;
    align-items: center;
    height: 38px;
  }

  .modalCaptcha {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .modalCaptchaInput {
      width: 280px;
    }
  }

  .modalFooter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
