@import '../../../../../config.less';

.styles {
  padding: 0 50px;
}

.noDescription {
  display: flex;
  height: 255px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.description {
  height: 548px;
  background-color: #F7F8F9;
  border-radius: 4px;
  overflow-y: auto;
  overscroll-behavior-y: contain;

  .container {
    box-sizing: border-box;
    max-width: 100%;
    min-height: 100%;
    padding: 15px;

    img, audio, video {
      max-width: 100%;
      height: auto;
    }

    p {
      white-space: pre-wrap;
      min-height: 1em;
    }

    pre {
      padding: 15px;
      background-color: #f1f1f1;
      border-radius: 5px;
    }

    blockquote {
      margin: 0;
      padding: 15px;
      background-color: #f1f1f1;
      border-left: 3px solid #d1d1d1;
    }
  }
}

.properties {
  width: 100%;

  .Content {
    background-color: #F7F8F9;

    .row {
      display: flex;
      align-items: flex-start;
      padding: 0 20px;
      justify-content: flex-start;

      & > div {
        width: 50%;
      }

      .FInputWrap {
        width: 100%;
      }
    }

    .FSelect {
      width: 200px;
    }
  }
}

.attributes {
  background-color: #F7F8F9;
  padding: 0 20px;

  .attributesHeader {
    height: 45px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #E5E7EB;
    font-size: 12px;

    & > span {
      //font-size: 12px;
      color: #7A869A;
    }
  }

  .attributesBody {
    padding-top: 10px;
  }
}

.input {
  width: 640px;
}

.title {
  display: flex;
  align-items: center;
}

.dot {
  width: 4px;
  height: 4px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: @f-error-color1;
  display: inline-block;
}

.errorTip {
  color: @f-error-color1;
}

.customOption {
  width: 100%;

  & > div:first-child {
    width: 100%;
    flex-shrink: 1;
  }

  & > div:last-child {
    flex-shrink: 0;
  }
}

.fullScreenContent {
  width: 950px;
  overflow-x: hidden;
  margin: 0 auto;
}


