@import '../../config.less';

.modal {
  :global(.ant-modal-close) {
    top: 14px;
    right: 14px;
  }

  .modelContent {
    padding: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .title2 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 150px;
    }

    .btn {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

}
