@import '../../config.less';

.styles {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 72px;
  padding-bottom: 80px;
  align-items: center;

  .FFeather {
    font-size: 40px;
    color: #2784FF;
  }
}
