@import '../../../../../config.less';


.more {
  display: flex;
  align-items: center;
  gap: 20px;

  .moreItem {
    width: 250px;
    height: 200px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    //border: 2px solid;
    //border-image: linear-gradient(135deg, rgba(253, 224, 187, 1), rgba(237, 143, 127, 1)) 2 2;
    //border-radius: 10px;
    //border-image-slice: 10;
  }
}
