.sign {
  display: flex;
  height: 500px;
  align-items: stretch;

  .signLeft {
    width: 344px;
    overflow-y: auto;
    overscroll-behavior-y: contain;


  }

  .errorContent {
    width: 516px;
    background-color: #FAFBFC;
    border-radius: 0 6px 6px 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .signRight {
    overflow-y: auto;
    overscroll-behavior-y: contain;
    width: 516px;
    background-color: #FAFBFC;
    border-radius: 0 6px 6px 0;
    padding: 20px;

  }
}

