@import '../../../config.less';

.FModalBody {
  padding: 0 120px;

  .tip {
    font-size: 12px;
    color: #666;
    //padding-left: 16px;

    & > div {
      margin-bottom: 10px;
    }
  }

  .wrapClassName {
    width: 100%;
  }

  .FInput {
    //width: 100%;
  }

  .errorTip {
    color: @f-error-color1;
  }
}
