@import '../../../../../config.less';

.resourceContainer {
  .resourceOrder {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .whiteCard {
    background: #FFF;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .whiteCardLeft {
      width: 240px;
    }

    .whiteCardRight {
      width: 610px;

      .whiteCardRightRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.block {
  padding: 20px;
  background-color: white;
  border-radius: 6px;
}

.policies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  .policy {
    background: #E9F2FF;
    border-radius: 2px;
    border: 1px solid #AED0FF;
    padding: 3px 5px;
    font-size: 12px;
    font-weight: 400;
    color: #2784FF;
    line-height: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
