@import '../../../../../config.less';

.resourceContainer {
  .resourceOrder {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .whiteCard {
    background: #FFF;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .whiteCardLeft {
      width: 240px;
    }

    .whiteCardRight {
      width: 610px;

      .whiteCardRightRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.block {
  padding: 20px;
  background-color: white;
  border-radius: 6px;
}
