@import '../../config.less';

.disabledInput {
  border-width: 1px;
  border-style: solid;
  width: 160px;
  //background-color: white;
  border-color: #E4E7EB;
  //opacity: .4;
}

.Input {
  border-width: 1px;
  border-style: solid;
  width: 160px;
  background-color: white;
  border-color: #E4E7EB;

  &:hover {
    border-color: #CBCBCB;
  }

  &:focus {
    //border-color: @f-primary-color;
    border-color: @f-primary-color !important;
  }

  &.InputError {
    &, &:hover, &:active, &:focus {
      border-color: @f-error-color1;
    }
  }
}

.FInputWordCount {
  color: #C4C4C4;

  &.beyond {
    color: @f-error-color1;
  }
}

