@import '../../config.less';

.styles {
  display: flex;
  align-items: center;
  background-color: #F7F8F9;
  justify-content: space-between;
  padding-right: 20px;

  .card {
    display: flex;
    padding: 0 20px;
    height: 88px;

    border-radius: 6px;
    align-items: center;
    width: fit-content;

    .img {
      width: 56px;
      height: 58px;
    }

    .info {
      display: flex;
      align-items: center;
      width: max-content;
      justify-content: space-between;

      .infoSize {
        flex-shrink: 0;
      }
    }
  }
}








