@import '../../../../config.less';

.styles {
  padding: 0 50px;
}

.about {
  width: 800px;
}

.aboutPanel {
  padding: 15px 20px;
  background-color: #F7F8F9;
  border-radius: 4px;
  //width: 800px;
  word-wrap: break-word;
  word-break: normal;

  & > pre {
    font-size: 14px;
    color: #222;
    line-height: 20px;
    margin: 0;
    white-space: pre-wrap;
    //word-wrap: break-word;
  }
}
