@f-primary-color: #2784FF;
@f-hover-color: #529DFF;
@f-active-color: #2376E5;
@f-assist-color: #EDF6FF;

@f-sub-color1: #EDF6FF;
@f-sub-color2: #FAFBFC;
@f-sub-color3: #E4E7EB;

@f-success-color1: #44C28C;
@f-success-color2: #E5F5EE;
@f-warning-color1: #E9A923;
@f-warning-color2: #FBF5EA;
@f-error-color1: #EE4040;
@f-error-color2: #FDEBEC;

@f-zIndex-loading: 1100;
@f-zIndex-modal: 1000;
@f-zIndex-drawer: 900;
@f-zIndex-header: 800;
@f-zIndex-sider: 700;


