@import 'config.less';
@import 'assets/css/index.less';

//.html {
//
//}

html, body, #root-master {
  min-height: 100vh;
  min-width: 1280px;
  //overflow-y: hidden;
}

body {
  margin: 0;
}

.ant-notification-notice {
  width: fit-content;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
