@import '../../../config.less';

.dot {
  width: 4px;
  height: 4px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #EE4040;
  display: inline-block;
}

.title {
  display: flex;
  align-items: center;
}

.delete {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input{
  width: 190px;
}
