.Sider {
  padding: 0 39px 0 40px;

}

.label {
  font-size: 12px;
  line-height: 20px;
  background-color: #E4E7EB;
  border-radius: 4px;
  padding: 0 5px;
  color: #666;
  display: inline-block;
}

.radios {
  border-top: 1px solid #E4E7EB;
}


.radio {
  height: 30px;
  width: 100px;
  align-items: center;
  display: flex;

  & > a {
    padding: 7px 20px;
    color: #222;
    border-radius: 17px;
    display: inline-block;
  }
}

.versions {
  padding-left: 20px;
}

.smallVersion {
  font-size: 13px;
}

.activatedRadio {
  background-color: #EEF6FF;
  color: #2784FF !important;
}

.content {
  background-color: #fff;
}

.upthrow {
  margin-bottom: -15px;

  & > label {
    background: #FDEBEC;
    border-radius: 4px;
    border: 1px solid #F2C9CC;
    color: #EE4040;
    padding: 0 15px;
    line-height: 30px;
    display: inline-block;
    margin: 0 15px 15px 0;
  }

}

.about {
  position: relative;
  width: 800px;
}

.aboutPanel {
  padding: 15px 20px;
  background-color: #F7F8F9;
  border-radius: 4px;
  width: 800px;
}

.aboutPanelButtons {
  position: absolute;
  right: 0;
  top: -25px;
  //bottom: -5px;
}
