.content {
  background-color: #fff;
}

.versionInput {
  width: 360px;
}

.description {
  border-radius: 6px;
  border: 1px solid #E4E7EB;
}

.checking {
  color: #2784FF;
}

.object {
  align-items: center;
  display: flex;
}

.objectErrorInfo {
  color: #EE4040;
  padding-right: 50px;
}
