@import '../../../config.less';

.creatorEntry {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: @f-sub-color2;

  .card {
    width: 455px;
    height: 340px;
    background: #FFF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    .icon {
      font-size: 64px;
    }
  }
}
