@import '../../../config.less';

.resourceItem {
  padding: 15px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  gap: 10px;

  .policyLabel {
    //width: 81px;
    height: 26px;
    padding: 0 5px;
    //background: rgba(255, 255, 255, 0);
    border-radius: 4px;
    border: 1px solid #2784FF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-size: 12px;
    color: #2784FF;
    font-weight: 600;
  }

  .resourceItemError {
    font-size: 12px;
    font-weight: 400;
    color: #E9A923;
    line-height: 18px;
    width: 140px;
    text-align: right;
  }
}

.tip {
  width: 600px;
  height: 58px;
  background: #FCF6E9;
  box-shadow: 0 2px 10px 0 rgba(233, 169, 35, 0.4);
  border-radius: 10px;
  border: 1px solid rgba(233, 169, 35, 0.5);
  position: fixed;
  bottom: 20px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  font-size: 14px;
  font-weight: 600;
  color: #E9A923;
  line-height: 18px;
}

.policyCard {
  background: #FFF;
  border-radius: 10px;
  border: 1px solid #D4D4D4;
  padding: 20px 20px 5px;

  .policyCardTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}

.newButton {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: @f-primary-color;
  transition: none;
  border-top: 1px solid #E4E7EB;
  font-weight: 600;

  &:hover {
    color: white;
    background-color: @f-primary-color;
  }
}

.nodeSelector {
  //border: 1px solid #E4E7EB;
  display: flex;
  width: 638px;
  //padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border-radius: 4px;
  cursor: pointer;

  .nodeSelectorLabel {
    font-size: 14px;
    color: #D1D1D1;
  }
}
