@import '../../../config.less';

.top {
  background-color: white;
}

.filter {
  .first {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 20px;
    cursor: pointer;
    padding: 21px 21px 15px 21px;
    &:hover {
      font-weight: 600;
      color: #222222;
    }
    &:active {
      opacity: 0.8;
    }
  }
  .firstSelected {
    font-weight: 600;
    color: #222222;
    background: #ffffff;
    border-radius: 4px;
  }
  .second {
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #bebebe;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 600;
    color: #666666;
    &:hover {
      font-weight: 600;
      color: #e9a923;
      padding: 5px 15px;
      background: #FFFFFF;
      border: 1px solid #e9a923;
    }
    &:active {
      opacity: 0.8;
    }
  }
  .secondContainer {
    background: #ffffff;
    border-radius: 6px;
  }
  .secondSelected {
    padding: 6px 16px;
    border: none;
    font-weight: 600;
    color: #ffffff;
    background: #e9a923;
  }
}

.filterTag {
  line-height: 30px;
  padding: 0 15px;
  border-radius: 15px;
  font-size: 13px;
  color: #666;
  display: inline-block;
}

.filterTagActive {
  background-color: #fbf5ea;
  color: #dca32d;

  &:hover {
    color: #dca32d;
  }
}

.filterInput {
  //height: 32px;
  width: 160px;
  margin-left: 30px;
}

.Content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1540px;
  margin-bottom: -10px;

  @media (max-width: 1600px) {
    width: 1230px;
  }
}

.bottomPadding {
  width: 220px;

  @media (min-width: 1700px) {
    width: 280px;
  }
}

.bottom {
  display: flex;
  justify-content: center;
}

.loadMore {
  height: 60px;
  width: 200px;
  font-size: 20px;
  color: #666;
}

.noData {
  display: flex;
  align-content: center;
  justify-content: center;
}
