.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content {
  background-color: #fff;
}

.versionInput {
  width: 360px;
}

//.description {
//  border-radius: 6px;
//  border: 1px solid #E4E7EB;
//}



.depUpthrow {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.depUpthrowLabel {
  margin-left: 20px;
  display: flex;
  align-items: center;

  & > label {
    border: 1px solid #F2C9CC;
    background-color: #FDEBEC;
    //border-radius: ;
    font-size: 12px;
    line-height: 20px;
    border-radius: 10px;
    color: #EE4040;
    padding: 0 10px;
    margin-right: 10px;
  }
}

