.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content {
  background-color: #fff;
}

.versionInput {
  width: 360px;
}

.wrap {
  padding: 0 50px;
}

//.description {
//  border-radius: 6px;
//  border: 1px solid #E4E7EB;
//}
