@import '../../config.less';

.FCoverImage {
  //height: 0;
  //padding-bottom: 75%;
  //position: relative;
  //display: inline-block;
  //overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  //background: rgba(0, 0, 0, 0.03);
  background-color: rgba(247, 247, 247, 1);
  border-radius: 4px;
  overflow: hidden;

  & > img {
    display: inline-block;
  }
}
