.Sider {
  //padding: 0 39px 0 40px;

  .header {
    padding: 0 40px;

    .resourceName {
      overflow-wrap: break-word;
      //color: #222;
    }
  }

  .label {
    font-size: 12px;
    line-height: 20px;
    background-color: #E4E7EB;
    border-radius: 4px;
    padding: 0 5px;
    color: #666;
    display: inline-block;
  }

  .radios {
    .radio {
      height: 50px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      //color: #222;

      .redDot {
        background-color: red;
        border-radius: 50%;
        width: 4px;
        height: 4px;
      }

      &.activatedRadio {
        background: rgba(0, 0, 0, 0.02);
        color: #2784FF;
      }
    }
  }

  .versionControl {
    .versionControlTitle {
      padding: 0 40px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .versions {

      .version {
        height: 50px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0 40px 0 60px;
        //color: #222;

        &.activatedVersion {
          background: rgba(0, 0, 0, 0.02);
          color: #2784FF;
        }
      }
    }
  }
}








