.Layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.header {
  line-height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  font-size: 40px;
  color: #2C2C2C;
}

.MenuBar {
  padding: 0 25px;
}

.Menu {
  display: inline-block;
  padding: 0 15px;
  line-height: 70px;
  color: #222;
  //height: 68px;

  &:hover {
    color: #2784FF;
  }
}

.headerRight {
  display: flex;
  height: 100%;
  align-items: center;
  width: auto;

  @media (max-width: 1000px) {
    display: none;
  }
}


.avatar {
  height: 100%;
  display: flex;
  border-radius: 50%;
  padding-left: 15px;
  align-items: center;
  margin-left: 15px;

  & > img {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 50%;
  }
}

//.FButton {
//  flex-shrink: 0;
//}

.FInput {
  margin-right: 30px;
  width: 200px;
}

.create {
  height: 100%;
  display: flex;
  align-items: center;
}

.Content {
  width: 100%;
  padding: 0 150px;
  display: flex;
  justify-content: center;
  min-height: 600px;
  align-self: center;

  & > div {
    min-width: 1100px;
    max-width: 1400px;
    width: 100%;
  }
}

.Footer {

  width: 100%;
  padding: 0 150px;
  display: flex;
  justify-content: center;

  & > div {
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    border-top: 1px solid #E4E7EB;
    min-width: 1100px;
    max-width: 1400px;
    width: 100%;

    & > span {
      color: #999;
    }
  }

}

.leftRight {
  display: flex;
  align-items: stretch;
}

.Slider {
  background-color: transparent;
  width: 280px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  & > div:first-child {
    height: 40px;
    flex-shrink: 0;
    width: 100%;
  }

  & > div:last-child {
    border-right: 1px solid #E4E7EB;
    //border-right: 1px solid red;
    flex-shrink: 1;
    height: 100%;
    width: 100%;
    //background-color: #44C28C;
  }
}

.rightContent {
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  min-height: 600px;
  //align-self: center;
  flex-shrink: 1;
  overflow: hidden;

  & > div {
    min-width: 980px;
    max-width: 1400px;
    width: 100%;

    //background-color: #AED0FF;
  }
}
