@import '../../../config.less';

.templateEvent {
  padding: 0 10px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFBFC;
  border-radius: 6px;
  border: 1px solid #E5E7EB;
  height: 52px;

  & > div {
    display: flex;
    align-items: center;
  }
}
