// position
//.p-rel {
//  position: relative;
//}

.p-abs {
  position: absolute;
}

//.p-fixed {
//  position: fixed;
//}

//.lt-0 {
//  left: 0;
//  top: 0;
//}

//.lb-0 {
//  left: 0;
//  bottom: 0;
//}

//.rt-0 {
//  right: 0;
//  top: 0;
//}

//.rb-0 {
//  right: 0;
//  bottom: 0;
//}

//.b-box {
//  box-sizing: border-box;
//}

//.c-box {
//  box-sizing: content-box;
//}

// display
//.d-block {
//  display: block !important;
//}

//.d-inline {
//  display: inline-block !important;
//}

//.d-none {
//  // why not hide ? avoid to override other library
//  display: none !important;
//}

// scroll
//.y-auto {
//  overflow-y: auto;
//}

.x-auto {
  overflow-x: auto;
}

//.y-scroll {
//  overflow-y: scroll;
//}

//.x-scroll {
//  overflow-x: scroll;
//}

.over-h {
  overflow: hidden;
}
//.x-h {
//  overflow-x: hidden;
//}

//.y-h {
//  overflow-y: hidden;
//}

//.margin-x-auto {
//  margin: 0 auto;
//}

//.margin-y-auto {
//  margin: auto 0;
//}

//.margin-auto {
//  margin: auto;
//}
