// text
//.text-align-center {
//  text-align: center;
//}

//.text-align-left {
//  text-align: left;
//}

//.text-align-right {
//  text-align: right;
//}

//.text-ellipsis {
//  overflow: hidden;
//  white-space: nowrap;
//  text-overflow: ellipsis;
//}

//.text-2-ellipsis {
//  display: -webkit-box;
//  -webkit-box-orient: vertical;
//  -webkit-line-clamp: 2;
//  overflow: hidden;
//}

.text-breakAll {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}

.text-break {
  white-space: normal;
  word-break: normal;
  word-wrap: break-word;
}

//.text-3-ellipsis {
//  display: -webkit-box;
//  -webkit-box-orient: vertical;
//  -webkit-line-clamp: 3;
//  overflow: hidden;
//}

//.text-pre-wrap {
//  white-space: pre-wrap;
//}

//.text-pre {
//  white-space: pre;
//}
//
//.text-pre-line {
//  white-space: pre-line;
//}
