//.object {
//  align-items: center;
//  display: flex;
//}

.objectErrorInfo {
  color: #EE4040;
  //padding-right: 50px;
}

.checking {
  color: #2784FF;
}

.tableWrap {
  background-color: #F7F8F9;
  border-radius: 6px;
}

.tableRowClassName{
  height: 70px;
}

//.table {
//  background-color: red;
//}

