@import '../../../../../../../config.less';

.styles {
  //margin-bottom: -5px;
}

//.titleErrorIcon {
//  color: @f-error-color1;
//  margin-left: 10px;
//}

.Policy {
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: white;

  .PolicyName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  //.PolicyGrammar {
  //  padding: 15px 20px;
  //  border-top: 1px solid #E5E7EB;
  //
  //  & > pre {
  //    margin: 0;
  //  }
  //}

}



